<section class="section section-footer">
  <div class="container container-footer">
    <div class="footer-top">
      <div class="footer-div-title">
        <a class="footer-logo" href="./index.html"
          ><svg class="footer-logo-icon" width="127" height="20">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <a class="footer-tel" href="tel:+380665438912">+38 066 543 8912</a>
        <a
          class="footer-address"
          href="https://www.google.com/maps/place/Varex+Imaging+Visitor+Entrance/@40.7332053,-111.9617062,628m/data=!3m2!1e3!4b1!4m6!3m5!1s0x8752f35bbcfb1369:0x260ab4842496c9e4!8m2!3d40.7332053!4d-111.9591313!16s%2Fg%2F1tcxvqmt?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2N0gBUAM%3D"
          >1678 S. Pioneer Road Salt Lake City UT 84104</a
        >
      </div>
      <div class="footer-div-contacts">
        <div class="footer-div-social">
          <a class="footer-social" href="https://www.instagram.com/"
            >Instagram</a
          >
          <a class="footer-social" href="https://www.facebook.com/">Facebook</a>
          <a class="footer-social" href="https://www.youtube.com/">Youtube</a>
        </div>
        <div class="footer-div-menu">
          <a class="footer-menu" href="">About us</a>
          <a class="footer-menu" href="">Our courses</a>
          <a class="footer-menu" href="">Our mentors</a>
          <a class="footer-menu" href="">Reviews</a>
          <a class="footer-menu" href="">contacts</a>
        </div>
      </div>

      <form class="footer-form">
        <div class="footer-form__field">
          <label for="footer-email" class="footer-form__label"></label>
          <input
            type="email"
            id="footer-email"
            name="footer-email"
            class="footer-form__input"
            placeholder="Enter your email"
            required
          />
        </div>
        <button type="submit" id="submitBtn" class="footer-form__btn">
          Go
        </button>
      </form>
    </div>
    <div class="footer-bottom">
      <p class="footer-text-policy">
        Privacy Policy<br />
        Public Offering Agreement
      </p>
      <p class="footer-text-rights">2024 Focus Frame © All rights reserved</p>
    </div>
  </div>
</section>
