<header class="section header-section">
  <div class="container header-container">
    <a class="header-link-logo" href="https://andrii-mitko.github.io/Focus-Frame/index.html/">
      <svg class="header-logo" width="123" height="16">
        <use href="/img/icons.svg#icon-logo"></use>
      </svg>
    </a>

    <a class="header-camera" href="/">
      <svg class="icon-favicon" width="16" height="16">
        <use href="./img/icons.svg#icon-favicon"></use>
      </svg>
    </a>
    <button class="btn-nav" data-menu-open>
      <svg class="icon-nav" width="32" height="22">
        <use href="./img/icons.svg#icon-nav"></use>
      </svg>
    </button>

    <nav class="header-nav">
      <ul class="header-list">
        <li class="header-item">
          <a href="#about">About us</a>
        </li>
        <li class="header-item">
          <a href="#courses">Our courses</a>
        </li>
        <li class="header-item">
          <a href="#mentors">Our mentors</a>
        </li>
        <li class="header-item">
          <a href="#reviews">Reviews</a>
        </li>
        <li class="header-item">
          <a href="#contacts">contacts</a>
        </li>
      </ul>
    </nav>
  </div>
  <button class="btn-header-signup" type="button">Sign up</button>
  <!-- #region menu -->
  <div class="mobile-menu-backdrop"></div>
  <div class="mobile-menu">
    <div class="mobile-menu-container">
      <button class="btn-mobile-close" data-menu-close>
        <svg class="mobile-close-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <nav class="menu-nav">
        <ul class="menu-list">
          <li class="menu-item menu-item-about">
            <a href="#about">About us</a>
          </li>
          <li class="menu-item">
            <a href="#courses">Our courses</a>
          </li>
          <li class="menu-item">
            <a href="#mentors">Our mentors</a>
          </li>
          <li class="menu-item">
            <a href="#reviews">Reviews</a>
          </li>
          <li class="menu-item">
            <a href="#contacts">contacts</a>
          </li>
        </ul>
      </nav>
      <picture class="catalog-foto-picture">
        <source
          srcset="
            /img/header/hero-tablet@1x.png 1x,
            /img/header/hero-tablet@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="menu-img"
          src="/img/header/hero-mobile@1x.png"
          srcset="/img/header/hero-mobile@2x.png 2x"
          alt="Camera"
          width="208"
        />
      </picture>
    </div>
  </div>

  <!-- #endregion menu -->
</header>
