<section class="section hero-section">
  <div class="container hero-container">
    <div class="hero-div-content">
      <h1 class="hero-title">
        Discover the magic of <span class="hero-span">photography</span> in our
        school
      </h1>
      <p class="hero-text">
        Our photography school offers an unforgettable journey, where you can
        learn the basics of composition, master technical skills, translate your
        unique ideas.
      </p>
<div class="hero-div-hero">
      <div class="hero-div-students">
        <ul class="hero-list-students">
          <li class="hero-student-one">
            <picture>
              <source
                srcset="
                  /img/hero/hero-tablet-1@1x.png 1x,
                  /img/hero/hero-tablet-1@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="hero-img-student"
                src="/img/hero/hero-mobile-1@1x.png"
                srcset="/img/hero/hero-mobile-1@2x.png 2x"
                alt="girl student"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="hero-student-boy">
            <picture>
              <source
                srcset="
                  /img/hero/hero-tablet-2@1x.png 1x,
                  /img/hero/hero-tablet-2@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="hero-img-student"
                src="/img/hero/hero-mobile-2@1x.png"
                srcset="/img/hero/hero-mobile-2@2x.png 2x"
                alt="boy student"
                width="44"
                height="44"
              />
            </picture>
          </li>
          <li class="hero-student-three">
            <picture>
              <source
                srcset="
                  /img/hero/hero-tablet-3@1x.png 1x,
                  /img/hero/hero-tablet-3@2x.png 2x
                "
                media="(min-width: 768px)"
              />
              <img
                class="hero-img-student"
                src="/img/hero/hero-mobile-3@1x.png"
                srcset="/img/hero/hero-mobile-3@2x.png 2x"
                alt="girl student"
                width="44"
                height="44"
              />
            </picture>
          </li>
        </ul>
        <div class="hero-div-arow">
          <p class="hero-text-students">Our happy students</p>
          <a href="">
            <svg class="icon-arrow" width="18" height="9">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero-star-reviews">
        <div class="hero-icon-star">
          <svg class="icon-star" width="20" height="20">
            <use href="/img/icons.svg#icon-star"></use>
          </svg>
        </div>
        <div>
          <a class="hero-reviews-link" href="#reviews">Reviews</a>
          <p class="hero-number">&#43;1500</p>
        </div>
      </div>
      </div>
    </div>

    <div class="hero-photographer">
      <picture>
        <source
          srcset="
            /img/hero/hero-desktop-4@1x.png 1x,
            /img/hero/hero-desktop-4@2x.png 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            /img/hero/hero-tablet-4@1x.png 1x,
            /img/hero/hero-tablet-4@2x.png 2x
          "
          media="(min-width: 768px)"
        />
        <img
          class="hero-photographer-img"
          src="/img/hero/hero-mobile-4@1x.png"
          srcset="/img/hero/hero-mobile-4@2x.png 2x"
          alt="photographer"
          width="259"
          height="314"
        />
      </picture>
    
  </div>
</section>
