<section class="section">
  <div class="container">
    <h2 class="mentors-title">Our <span class="mentors-span">Mentors</span></h2>
    <ul class="mentors-list">
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./img/mentors/mentors1@1x.png"
          srcset="./img/mentors/mentors1@2x.png 2x"
          alt="mentor"
          width="180"
          height="180"
        />
        <h3 class="mentors-name">Emilia Smith</h3>
        <p class="mentors-text">1.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./img/mentors/mentors2@1x.png"
          srcset="./img/mentors/mentors2@2x.png 2x"
          alt="mentor"
          width="180"
          height="180"
        />
        <h3 class="mentors-name">Alex Lebedev</h3>
        <p class="mentors-text">3.5 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./img/mentors/mentors3@1x.png"
          srcset="./img/mentors/mentors3@2x.png 2x"
          alt="mentor"
          width="180"
          height="180"
        />
        <h3 class="mentors-name">Mia Dubrovska</h3>
        <p class="mentors-text">2.0 years of experience</p>
      </li>
      <li class="mentors-item">
        <img
          class="mentors-img"
          src="./img/mentors/mentors4@1x.png"
          srcset="./img/mentors/mentors4@2x.png 2x"
          alt="mentor"
          width="180"
          height="180"
        />
        <h3 class="mentors-name">Eliot Kovalev</h3>
        <p class="mentors-text">4.0 years of experience</p>
      </li>
    </ul>
  </div>
</section>
