<section class="section" id="reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>

    <ul class="reviews-list-student">
      <li class="reviews-item">
        <div class="reviews-div-content">
          <div class="reviews-div-student">
            <img
              class="reviews-img"
              src="./img/reviews/reviews-man@1x.png"
              srcset="./img/reviews/reviews-man@2x.png 2x"
              alt="student"
              width="56"
              height="56"
            />
            <div class="reviews-div-name">
              <h3 class="reviews-name">Abraham Baker</h3>
              <p class="reviews-prof">Student</p>
            </div>
          </div>
          <ul class="reviews-list-star">
            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="no-full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-text">
          I am very pleased that I decided to enroll in photography school. The
          teachers turned out to be very talented and experienced professionals
          who share their knowledge and are dedicated to their work. I was able
          to expand my skills and discover my own style.
        </p>
      </li>
      <li class="reviews-item reviews-item-girl">
        <div class="reviews-div-content">
          <div class="reviews-div-student">
            <img
              class="reviews-img"
              src="./img/reviews/reviews-girl@1x.png"
              srcset="./img/reviews/reviews-girl@2x.png 2x"
              alt="student"
              width="56"
              height="56"
            />
            <div class="reviews-div-name">
              <h3 class="reviews-name">Amanda Lowery</h3>
              <p class="reviews-prof">Student</p>
            </div>
          </div>
          <ul class="reviews-list-star">
            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>

            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
            <li class="no-full-star">
              <svg class="reviews-icon-star" width="20" height="20">
                <use href="./img/icons.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
        </div>
        <p class="reviews-text">
          The courses at the photography school exceeded all my expectations. I
          gained not only technical knowledge, but also inspiration and
          motivation to reach new heights in my creativity. Hands-on classes and
          workshops helped me understand different styles of photography.
        </p>
      </li>
    </ul>
  </div>
</section>
