.about-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 40px;
}
.about-span {
  color: #bea69e;
}
.about-img {
  border-radius: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}
.about-text-one {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  margin-bottom: 20px;
}
.about-text-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .about-title {
    font-size: 48px;
    line-height: 1.12;
    margin-bottom: 50px;
  }
  .about-img {
    width: 704px;
    height: 340px;
    margin-bottom: 50px;
  }

  .about-text {
    display: flex;
    gap: 40px;
  }
  .about-text-one {
    font-size: 16px;
    line-height: 1.25;
    margin-bottom: 0;
    max-width: 280px;
  }
  .about-text-two {
    font-size: 16px;
    line-height: 1.25;
    max-width: 280px;
  }
}
@media screen and (min-width: 1280px) {
  .about-div {
    display: flex;
    gap: 40px;
  }
  .about-text {
    gap: 20px;
  }
  .about-img {
    display: block;
    width: 488px;
    height: 260px;
    margin-bottom: 0;
    transform: rotate(0deg);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .about-img:hover,
  .about-img:focus {
    transform: rotate(90deg);
  }
}
@media screen and (min-width: 1440px) {
  .about-img {
    width: 560px;
    height: 240px;
  }
  .about-div {
    gap: 50px;
  }
  .about-text {
    gap: 40px;
  }
}
