html {
  scroll-behavior: smooth;
}
body {
  font-family: 'DM Sans', sans-serif;
}
.section {
  background: #121212;
  color: #fff;
  padding: 40px 20px;
}
@media screen and (min-width: 768px) {
  .section {
    padding: 50px 32px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding: 75px 100px;
  }
}
