.blok-section {
  overflow: hidden;
  white-space: nowrap;
}

.blok-track {
  display: flex;
  width: max-content;
  animation: ticker 18s linear infinite;
  will-change: transform;
}

.blok-title {
  font-weight: 400;
  text-transform: uppercase;
  color: #bea69e;
  padding-right: 48px;
  flex-shrink: 0;
}

/* акцент */
.blok-span {
  color: #fff;
}

/* анимация */
@keyframes ticker {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-33.333%, 0, 0);
  }
}
