.header-section {
  padding: 20px;
  width: 100%;
}
.header-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 8.2px 20px;
  height: 100%;
  width: 100%;
}

.header-link-logo {
  margin-right: auto;
}

.header-logo {
  fill: #fff;
}
.icon-favicon {
  fill: rgba(190, 166, 158, 0.4);
}
.icon-nav {
  stroke: #fff;
}
.header-camera {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-nav {
  display: none;
}

/* #region MENU */
.mobile-menu-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 8;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 58.1%;
  height: 100%;
  background-color: #bea69e;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 9;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 30;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu.is-open,
.mobile-menu-backdrop.is-open {
  opacity: 1;
  visibility: visible;
}
.mobile-menu-container {
  position: relative;
  padding-top: 180px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.btn-mobaile-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: transparent;
}
.mobile-close-icon {
  display: block;
  stroke-width: 3px;
  stroke: #121212;
}
.menu-nav {
  margin-left: 20px;
  margin-bottom: auto;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-item {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #121212;
}
.menu-item-about {
  font-weight: 700;
}
.menu-img {
  width: 100%;
}
/* #endregion MENU */

.btn-header-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 187px;
  height: 60px;
  background: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.56;
  text-transform: uppercase;
  color: #121212;
  display: none;
}
@media screen and (min-width: 768px) {
  .btn-header-signup {
    display: block;
  }
  .header-camera {
    display: none;
  }
  .header-section {
    display: flex;
    gap: 14px;
    padding: 20px 32px;
  }
  .header-container {
    padding: 15.2px 20px;
  }
  .header-logo {
    width: 124px;
    height: 17px;
  }
  .icon-nav {
    width: 40px;
    height: 28px;
  }
  /* #region MENU min-width: 768px */
  .mobile-menu {
    width: 62.6%;
  }
  .mobile-menu-container {
    padding-top: 232px;
  }
  .btn-mobaile-close {
    right: 32px;
    height: 40px;
    width: 40px;
  }
  .menu-nav {
    margin-left: 64px;
  }
  .menu-list {
    gap: 28px;
  }
  /* #endregion MENU min-width: 768px */
}

@media screen and (min-width: 1280px) {
  .btn-nav {
    display: none;
  }
  .header-section {
    display: flex;
    gap: 20px;
    padding: 20px 100px;
  }
  .header-nav {
    display: block;
  }
  .header-list {
    display: flex;
    gap: 28px;
  }
  .header-logo {
    fill: #fff;
    transition: fill 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-logo:hover,
  .header-logo:focus {
    fill: #bea69e;
  }
  .header-item {
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    transition: color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-item:hover,
  .header-item:focus,
  .header-item:active {
    color: #bea69e;
  }
  .header-container {
    padding: 18.7px 50px;
  }
  .btn-header-signup {
    width: 239px;
    color: #121212;
    background-color: #fff;
    transition: background-color 350ms cubic-bezier(0.4, 0, 0.2, 1),
      color 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .btn-header-signup:hover,
  .btn-header-signup:focus,
  .btn-header-signup:active {
    color: #bea69e;
    background-color: #1d1d1d;
  }
}
@media screen and (min-width: 1440px) {
  .header-list {
    gap: 40px;
  }
}
