.header-section {
  padding: 20px;
}
.header-container {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  align-items: center;
  padding: 8.2px 20px;
  height: 100%;
}

.header-link-logo {
  margin-right: auto;
}

.header-logo {
  fill: #fff;
}
.icon-favicon {
  fill: rgba(190, 166, 158, 0.4);
}
.icon-nav {
  stroke: #fff;
}
.header-camera {
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: 32px;
  height: 32px;
  margin-right: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-nav {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.header-nav {
  display: none;
}

/* #region MENU */

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 58%;
  height: 100%;
  background-color: #bea69e;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mobile-menu-container {
  position: relative;
  padding: 180px 20px 0;
  padding-bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-content: space-between;
}
.btn-mobaile-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;
  height: 32px;
  width: 32px;
  padding: 0;
  background-color: transparent;
}
.mobile-close-icon {
  display: block;
  stroke-width: 3px;
  stroke: #121212;
}
.menu-nav {
  margin-bottom: auto;
}
.menu-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.menu-item {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  color: #121212;
}
.menu-item-about {
  font-weight: 700;
}
.menu-img {
  transform: rotate(0deg);
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-img:hover {
  transform: rotate(90deg);
}
/* #endregion MENU */
