.reviews-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 40px;
}
.reviews-item {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  max-width: 335px;
  padding: 20px;
}
.reviews-div-content {
  margin-bottom: 20px;
}
.reviews-div-student {
  display: flex;
  gap: 10px;
  margin-bottom: 4px;
}
.reviews-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 4px;
}
.reviews-prof {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.5);
}
.reviews-list-star {
  display: flex;
  gap: 4px;
  margin-left: 86px;
}
.full-star {
  fill: #bea69e;
  stroke-width: 1.5px;
  stroke: #bea69e;
}
.no-full-star {
  fill: rgba(255, 255, 255, 0.2);
  stroke-width: 1px;
  stroke: #414141;
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: #fff;
}
.reviews-item-girl {
  display: none;
}
@media screen and (min-width: 768px) {
  .reviews-title {
    font-size: 48px;
    line-height: 1.12;
    margin-bottom: 50px;
  }
  .reviews-div-content {
    display: flex;
  }
  .reviews-item {
    max-width: 640px;
    margin: 0 auto;
  }
  .reviews-name {
    line-height: 1.4;
  }
  .reviews-prof {
    font-size: 14px;
    line-height: 1.29;
  }
  .reviews-list-star {
    margin-left: auto;
  }
  .reviews-text {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-item-girl {
    display: block;
  }
  .reviews-list-student {
    display: flex;
    gap: 20px;
  }
  .reviews-item {
    max-width: 530px;
    margin: 0;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-item {
    max-width: 610px;
  }
}
