.signup-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: #fff;
  margin-bottom: 20px;
}
.signup-span {
  color: #bea69e;
}
.signup-text-form {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 295px;
  margin-bottom: 40px;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.form__field {
  display: flex;
  flex-direction: column;
}
.form__input {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 335px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  opacity: 0.7;
  background-color: transparent;
  padding: 14px 18px;
}
.form__textarea {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 335px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
  opacity: 0.7;
  resize: vertical;
  background-color: transparent;
  padding: 14px 18px;
  margin-bottom: 40px;
}
.form__input::placeholder,
.form__textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: #fff;
}
.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  width: 335px;
  height: 48px;
  background-color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
  color: #121212;
  margin-bottom: 20px;
}
.signup-text-policy {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  color: rgba(255, 255, 255, 0.5);
}
.span-policy {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.signup-div-img {
  display: none;
}
@media screen and (min-width: 768px) {
  .signup-title {
    font-size: 48px;
    line-height: 1.125;
  }
  .signup-text-form {
    max-width: 480px;
    font-size: 16px;
    line-height: 1.25;
  }
  .form {
    gap: 14px;
  }
  .form__input {
    width: 480px;
    font-size: 16px;
    line-height: 1.25;
    padding: 20px 18px;
  }
  .form__textarea {
    width: 480px;
    font-size: 16px;
    line-height: 1.25;
    padding: 20px 18px;
  }
  .form__btn {
    width: 480px;
    font-size: 18px;
    line-height: 1.56;
  }
  .signup-text-policy {
    font-size: 14px;
    line-height: 1.29;
    width: 480px;
  }
}
@media screen and (min-width: 1280px) {
  .signup-container {
    display: flex;
    gap: 60px;
  }
  .signup-div-img {
    display: flex;
    align-items: flex-end;
    gap: 20px;
    padding-bottom: 38px;
  }
  .signup-picture-small {
    display: flex;
    align-items: center;
    border-radius: 1000px;
    width: 180px;
    height: 288px;
    background-color: #bea69e;
  }
  .signup-img-small {
    transform: rotate(0deg);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .signup-img-small:hover,
  .signup-img-small:focus {
    transform: rotate(90deg);
  }
  .signup-picture-big {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
    width: 340px;
    height: 540px;
    background-color: #1d1d1d;
  }
}
@media screen and (min-width: 1440px) {
  .signup-container {
    display: flex;
    gap: 200px;
  }
  .signup-img-small {
    width: 163px;
    height: 154px;
  }
  .signup-picture-small {
    width: 190px;
    height: 288px;
  }
  .signup-img-big {
    width: 254px;
    height: 313px;
  }
  .signup-picture-big {
    width: 350px;
    height: 540px;
  }
}
